<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <title>장소 정보 및 경로 표시!</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css" />
        <style type="text/css">
            body,
            html {
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
            }
            #container {
                width: 70%;
                margin: auto;
                display: flex;
                flex-direction: column;
                height: 100%;
                padding: 20px;
                box-sizing: border-box;
            }
            #map {
                width: 90%;
                margin: auto;
                height: 90%;
                margin-top: 40px;
            }
            #infoBox {
                display: flex;
                align-items: center;
                justify-self: center;
                font-size: 20px;
            }
            #mapContainer {
                height: 80%;
            }
            #place-info {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        </style>

        <script>
            var map;
            // 로컬스토리지에 저장 된 경위도와 선택한 키워드의 상세정보를 로드
            var currentLat = JSON.parse(localStorage.getItem('Lat'));
            var currentLon = JSON.parse(localStorage.getItem('Lon'));
            var storedObjectString = localStorage.getItem('placeData');
            if (storedObjectString) {
                var myObject = JSON.parse(storedObjectString);
                var documents = myObject.data[0]['data'][0];
            }
            // 현재위치를 중심으로 지도 생성
            function initMap() {
                var mapContainer = document.getElementById('map');
                var mapOption = {
                    center: new kakao.maps.LatLng(currentLat, currentLon),
                    level: 3,
                };
                map = new kakao.maps.Map(mapContainer, mapOption);
                // 상세정보를 보여주고 경로를 그리는 함수 호출
                showPlaceInfo();
                displayRoute();
            }
            // 상세정보를 입력
            function showPlaceInfo() {
                var place = documents;
                var infoHtml = `
                <div class="info-item"><img id="place-img" width="200"></div>
                <div id="infoBox" class="">
                    <div>
                <div class="info-item has-text-black"><strong class="has-text-success">이름:</strong> ${place.place_name}</div>
                <div class="info-item has-text-black"><strong class="has-text-success">주소:</strong> ${place.address_name}</div>
                <div class="info-item has-text-black"><strong class="has-text-success">도로명 주소:</strong> ${place.road_address_name}</div>
                <div class="info-item has-text-black"><strong class="has-text-success">전화번호:</strong> ${place.phone}</div>
                <div class="info-item has-text-black"><strong class="has-text-success">카테고리:</strong> ${place.category_name}</div>
                    </div>
                </div>
            `;
                $('#place-info').html(infoHtml);

                // 카카오 블로그 검색을 통해 나온 썸네일을 사용
                $.ajax({
                    type: 'GET',
                    url: 'https://dapi.kakao.com/v2/search/image',
                    data: { query: place.place_name },
                    headers: { Authorization: 'KakaoAK 03427ce08466c2fe4c4567485860e426' },
                    success: function (response) {
                        if (
                            response.documents &&
                            response.documents.length > 0 &&
                            response.documents[0].thumbnail_url
                        ) {
                            $('#place-img').attr('src', response.documents[0].thumbnail_url);
                        } else {
                            $('#place-img').attr('alt', '이미지를 찾을 수 없습니다.');
                        }
                    },
                    error: function () {
                        $('#place-img').attr('alt', '이미지를 불러오는 중 오류가 발생했습니다.');
                    },
                });
            }

            // 카카오 모빌리티 api를 통해나온 경위도를 이어 경로를 표현
            function displayRoute() {
                var destination = documents;
                $.ajax({
                    type: 'GET',
                    url: `https://apis-navi.kakaomobility.com/v1/directions?origin=${currentLon},${currentLat}&destination=${destination.x},${destination.y}&waypoints=&priority=RECOMMEND&car_fuel=GASOLINE&car_hipass=false&alternatives=false&road_details=false`,
                    headers: { Authorization: 'KakaoAK 4bf7de4f9df1b1781420b6e75ae8324a' },
                    success: function (response) {
                        let linePath = [];
                        let result = response.routes[0].sections[0].roads;

                        for (let i = 0; i < result.length; i++) {
                            for (let j = 0; j < result[i].vertexes.length; j++) {
                                if (j % 2 == 0) {
                                    linePath.push(
                                        new kakao.maps.LatLng(result[i].vertexes[j + 1], result[i].vertexes[j])
                                    );
                                }
                            }
                        }
                        var polyline = new kakao.maps.Polyline({
                            path: linePath,
                            strokeWeight: 5,
                            strokeColor: '#000000',
                            strokeOpacity: 0.7,
                            strokeStyle: 'solid',
                        });
                        polyline.setMap(map);
                    },
                });
            }
            // 사용된 정보와 경위도는 중복방지를 위해 바로 제거
            localStorage.removeItem('placeData');
            localStorage.removeItem('Lat');
            localStorage.removeItem('Lon');
        </script>
    </head>

    <body onload="initMap()">
        <div id="container" class="has-background-white-ter">
            <div id="place-info"></div>

            <hr />
            <div id="mapContainer" class="has-background-primary-30">
                <div id="map"></div>
            </div>

            <script
                type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ceb3b1d27e47ea6a83b6caea96944e4e&libraries=services,clusterer,drawing"
            ></script>
        </div>
    </body>
</html>
